@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-body: #f2f4ff;
    --suggestions-bar: #373f68;
    --feedback-title: #3a4374;
    --feedback-paragraph: #647196;
    --feedback-tag: #4661e6;
    --feedback-tag-card: #f2f4ff;
    --feedback-upvote: #f2f4fe;
    --feedback-tag-card-hover: #cfd7ff;
    --add-feedback-button: #ad1fea;
    --add-feedback-button-hover: #c75af6;
    --edit-feedback-button-hover: #7c91f9;
    --header-faded: #dcdefc;
    --list-orange: #f49f85;
    --list-cyan: #62bcfa;
  }
}
